.App {
  text-align: center;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-logo {
  height: 60vmin;
}

.App-header {
  width: 90%
}

.links {
  display: flex;
  justify-content: space-evenly;
}

a {
  color: #0B5F81;
  text-decoration: underline;
  font-size: 1.2rem;
}
